Q1. How do you comment code in Python? What are the different types of comments?

Sol. In Python, you can add comments to your code to provide explanations, document your code, or temporarily disable certain portion of code. There are two primary ways to add comments in python:

-Single-line comments: To add a comment that spans a single line, you can use the hash character(#) followed by comment text. Everything after the hash symbol on that line will be considered a comment.

#This is a single-line comment

-Multi-line comments: If you need to add comments that span multiple lines, you can enclose the comment text within triple (''' ''') or triple double quotes(""" """). This allows you to write comments across multiple lines without using the hash charactor at the beginning of each line.

'''This is a multi-line comment.
It can span multiple lines.'''

"""This is another way to write multi-line comment."""
Both single-line and double-line comments are used for same purpose of providing explanation or documenting code. However, multi-line comments are often preferred for longer comments or documentation blocks.

Q2. What are variables in Python? How do you declare and assign values to variables?

Sol. In Python, variables are used to store data or values that can be accessed and manipulated throughout the program. Variables act as containers that hold different types of data, such as numbers, strings, lists, or more complex objects. For example:
variable_name=value

In [109]:
#Declaring and assigning a value to a variable
name='Hashim Khan'

In the above code, a variable named 'name' is declared and assigned the string value 'Hashim khan'. Now, you can use the variable 'name' throughout the program to access or manipulate the assigned value.

Q3. How do you convert one data type to another in Python?

Sol. In Python, you can convert one data type to another using type conversion functions or constructors that are built-in to the language. Here are some commonly used type conversion functions:

In [110]:
'''list(): Converts an iterable (e.g., string,tuple,set) to a list.
l=list('hashim')
#Converts the string 'hashim' to a list['h','a','s','h','i','m']'''

l=list('hashim')

In [111]:
l

['h', 'a', 's', 'h', 'i', 'm']

In [112]:
'''tuple(): Converts an iterable to a tuple.
t=tuple([7, 8, 6])  
#Converts the list [7, 8, 6] to a tuple (7,8,6)'''

t=tuple([7,8,6])

In [113]:
t

(7, 8, 6)

In [114]:
'''set(): Converts an iterable to a set, removing duplicates and unordered.
s=set([1,2,2,3,3,4,4,5,5]) 
Converts the list [1,2,2,3,3,4,4,5,5] to a set {1,2,3,4,5}'''

s=set([1,2,2,3,3,4,4,5,5])

In [115]:
s

{1, 2, 3, 4, 5}

In [116]:
'''dict(): Converts an iterable of key-value pairs to a dictionary.
d= dict([('h',7),('a',5),('s',12),('h',14),('i',1)]) 

Converts the list of tuples [('h',7),('a',5),('s',12),('h',14),('i',1)] to a 
dictionary {'h':7,'a':5,'s':12,'h':14,'i':1}'''

d= dict([('h',7),('a',5),('s',12),('h',14),('i',1)])

In [117]:
d

{'h': 14, 'a': 5, 's': 12, 'i': 1}

In [118]:
'''bool(): Converts a value to a boolean data type. Generally, any non-zero value 
or non-empty object is considered True, while zero or empty objects are considered False
r=bool(10)  
Converts the integer 10 to boolean True'''

r=bool(10)

In [119]:
r

True

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [120]:
my_list=[1,2,3,4,5]

In [121]:
sub_list=my_list[1:3]

In [122]:
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Sol: In mathematics, a complex number is a number of the form 'a+bj', where 'a' and 'b' are real numbers and 'j' represents thr imaginary part. The real part 'a' represents the real number component, and the imaginary part 'b' represents the imaginary number component.
In python, complex number a built in data type used to represent and perform operations on complex numbers. In python, imaginary part is denoted by the letter 'j'.

In [123]:
#A complex number can be represented in python using the following format:
c=5+6j

In [124]:
type(c)

complex

Q7. What is the correct way to declare a variable named 'age 'and assign the value '25' to it?

Sol: The correct way to declare a variable named 'age' and assign the value '25' to it in python is as follows:

In [125]:
age=25
'''In the above code the variable 'age' is declared and assigned the value '25' using the assignment operator 
('=').
Once assigned, we can use the variable 'age' throughout our code to access or manipulate the assigned value.'''

"In the above code the variable 'age' is declared and assigned the value '25' using the assignment operator \n('=').\nOnce assigned, we can use the variable 'age' throughout our code to access or manipulate the assigned value."

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

Sol: To Declare a variable named 'price' and assign the value '9.99' to it in python, we can use the following 
code.
price=9.99
In the above code the variable 'price' is declared and assigned the value '9.99' using the assignment operator ('='). The assigned value '9.99'is a decimal number, also known as a floating-point number.

In [126]:
price=9.99

In [127]:
type(price)

float

In the above code, the variable 'price' belongs to the data type 'float' in the python. A float data type represents number with a fractional part.

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

Sol: To create a variable named 'name' and assign my full name to it as a string, i can use the following code.
name='Hashim Abass khan'

To print the value of 'name' variable in the python, we can use the 'print()' function.
Here's how we can do it:

In [128]:
name='Hashim Abass Khan'
print(name)

Hashim Abass Khan

Q10. Given the string "Hello, World!", extract the substring "World".

Sol: To extract the substring "world" from the given string "Hello,World!", we can use string slicing 
in the Python.
Here's the code.

In [129]:
s="Hello,world!"
#First i we'll check the length of the string

In [130]:
len(s)

12

In [131]:
s="Hello,world!"
s[6:11]

'world'

In the above code, s[6:11] specifies a slice that starts at index 6 (inclusive) and ends at index 11 (exclusive). This range includes the characters at indices 6, 7, 8, 9, and 10, which correspond to the substring "World" in the original string. The resulting substring "World".

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

Sol. To create a variable named "is_student" and assign it a boolen value indicating whether you are currently a student or not, we can use the following code:

In [132]:
is_student=True

In [133]:
is_student

True

In [134]:
is_student=False

In [135]:
is_student

False

In the above codes, the variable 'is_student' is declared and assigned the boolen values "True" and "False". This indicates that you are currently a student or not.